{% extends 'adminapp/base.html' %}
{% load static %}
{% block js %}
<link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.min.js' %}"></script>
<script src="{% static 'js/teams.js' %}"></script>
<script src="{% static 'js/accounts.js' %}"></script>
{% endblock %}
{% block content %}
    {% csrf_token %}
    <div class="stats-content">
        {% for account in object_list %}
            <div class="team-block">
                <div class="team-visible">
                    <div class="team-name-block">
                        <div class="accounts-error-indicator error-{{ account.pk }}"{% if not account.error and not account.error_cabinets %} style="display: none;"{% endif %}></div>
                        {{ account }} - {{ account.full_name }}
                        <a href="{% url 'adminapp:edit_account' pk=account.pk %}" class="button">Изменить</a>
                        <a href="{% url 'adminapp:delete_account' pk=account.pk %}" class="button">Удалить</a>
                        {% if user.is_superuser %}
                            <span class="button stats-update" id="account-update-{{ account.pk }}"{% if not account.last_update_finished %} style="display: none;"{% endif %}>Обновить</span>
                            <img src="{% static 'img/loading.gif' %}" class="stats-update-loading costs" id="account-img-{{ account.pk }}"{% if account.last_update_finished %} style="display: none;"{% endif %}>
                        {% endif %}
                    </div>
                    <img src="{% static 'img/arrow.svg' %}" alt=">" class="team-arrow" id="arrow-{{ account.pk }}">
                </div>
                <div class="team-hidden" id="hidden-{{ account.pk }}">
                    <div class="team-label">Аккаунт</div>
                    <div class="team-table-wrapper">
                        <table class="team-table">
                            <tr>
                                <th class="error error-{{ account.pk }}"{% if not account.error %} style="display: none;"{% endif %}>error</th>
                                <th>fbtool_id</th>
                                <th>group_id</th>
                                <th>group_name</th>
                                <th>is_restricted</th>
                                <th>name</th>
                                <th>proxy</th>
                                <th>status</th>
                                <th>access_token</th>
                                <th>user_agent</th>
                                <th>cookie</th>
                            </tr>
                            <tr>
                                <td class="error error-{{ account.pk }}"{% if not account.error %} style="display: none;"{% endif %}>{{ account.error }}</td>
                                <td>{{ account.fbtool_id }}</td>
                                <td>{{ account.group_id }}</td>
                                <td>{{ account.group_name }}</td>
                                <td>{{ account.is_restricted }}</td>
                                <td>{{ account.name }}</td>
                                <td>{{ account.proxy }}</td>
                                <td>{{ account.status }}</td>
                                <td>{{ account.access_token }}</td>
                                <td>{{ account.user_agent }}</td>
                                <td>{{ account.cookie }}</td>
                            </tr>
                        </table>
                    </div>
                    {% if account.get_cabinets %}
                        <div class="team-label">Кабинеты</div>
                        <div class="team-table-wrapper">
                            <table class="team-table">
                                <tr>
                                    <th class="error cell-error-{{ account.pk }}"{% if not account.error_cabinets %} style="display: none;"{% endif %}>error</th>
                                    <th>ID</th>
                                    <th>Название</th>
                                    <th>Таймзона</th>
                                    <th>Валюта</th>
                                    {% if user.is_superuser %}<th></th>{% endif %}
                                    <th></th>
                                    <th></th>
                                    <th>status</th>
                                    <th>adspaymentcycle</th>
                                    <th>adtrust_dsl</th>
                                    <th>amount_spent</th>
                                    <th>current_unbilled_spend</th>
                                    <th>disable_reason</th>
                                    <th>funding_source_details</th>
                                    <th>fbtool_id</th>
                                    <th>is_prepay_account</th>
                                    <th>next_bill_date</th>
                                    <th>owner</th>
                                    <th>prepay_account_balance</th>
                                    <th>spend_cap</th>
                                    <th>viewable_business</th>
                                </tr>
                                {% for cabinet in account.get_cabinets %}
                                    <tr>
                                        <td class="error cell-error-{{ account.pk }} cab-error-{{ cabinet.pk }}"{% if not account.error_cabinets %} style="display: none;"{% endif %}>{% if cabinet.error %}<span>{{ cabinet.error }}</span>{% endif %}</td>
                                        <td>{{ cabinet.pk }}</td>
                                        <td>{{ cabinet.name }}</td>
                                        <td>{{ cabinet.timezone }}</td>
                                        <td>{{ cabinet.currency }}</td>
                                        {% if user.is_superuser %}
                                            <td>
                                                <span class="stats-update" id="cabinet-update-{{ cabinet.pk }}"{% if not cabinet.last_update_finished %} style="display: none;"{% endif %}>Обновить</span>
                                                <img src="{% static 'img/loading.gif' %}" class="stats-update-loading costs" id="cabinet-img-{{ cabinet.pk }}"{% if cabinet.last_update_finished %} style="display: none;"{% endif %}>
                                            </td>
                                        {% endif %}
                                        <td class="teams-td-button"><a href="{% url 'adminapp:edit_cabinet' pk=cabinet.pk %}">Изменить</a></td>
                                        <td class="teams-td-button"><a href="{% url 'adminapp:delete_cabinet' pk=cabinet.pk %}">Удалить</a></td>
                                        <td>{{ cabinet.status }}</td>
                                        <td>{{ cabinet.adspaymentcycle }}</td>
                                        <td>{{ cabinet.adtrust_dsl }}</td>
                                        <td>{{ cabinet.amount_spent }}</td>
                                        <td>{{ cabinet.current_unbilled_spend }}</td>
                                        <td>{{ cabinet.disable_reason }}</td>
                                        <td>{{ cabinet.funding_source_details }}</td>
                                        <td>{{ cabinet.fbtool_id }}</td>
                                        <td>{{ cabinet.is_prepay_account }}</td>
                                        <td>{{ cabinet.next_bill_date }}</td>
                                        <td>{{ cabinet.owner }}</td>
                                        <td>{{ cabinet.prepay_account_balance }}</td>
                                        <td>{{ cabinet.spend_cap }}</td>
                                        <td>{{ cabinet.viewable_business }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}
                    {% if account.get_deleted_cabinets %}
                        <div class="team-label">Удалённые кабинеты</div>
                        <div class="team-table-wrapper">
                            <table class="team-table">
                                <tr>
                                    <th>ID</th>
                                    <th>Название</th>
                                    <th>Таймзона</th>
                                    <th>Валюта</th>
                                    <th></th>
                                    <th>status</th>
                                    <th>adspaymentcycle</th>
                                    <th>adtrust_dsl</th>
                                    <th>amount_spent</th>
                                    <th>current_unbilled_spend</th>
                                    <th>disable_reason</th>
                                    <th>funding_source_details</th>
                                    <th>fbtool_id</th>
                                    <th>is_prepay_account</th>
                                    <th>next_bill_date</th>
                                    <th>owner</th>
                                    <th>prepay_account_balance</th>
                                    <th>spend_cap</th>
                                    <th>viewable_business</th>
                                </tr>
                                {% for cabinet in account.get_deleted_cabinets %}
                                    <tr>
                                        <td>{{ cabinet.pk }}</td>
                                        <td>{{ cabinet.name }}</td>
                                        <td>{{ cabinet.timezone }}</td>
                                        <td>{{ cabinet.currency }}</td>
                                        <td class="teams-td-button"><a href="{% url 'adminapp:delete_cabinet' pk=cabinet.pk %}">Восстановить</a></td>
                                        <td>{{ cabinet.status }}</td>
                                        <td>{{ cabinet.adspaymentcycle }}</td>
                                        <td>{{ cabinet.adtrust_dsl }}</td>
                                        <td>{{ cabinet.amount_spent }}</td>
                                        <td>{{ cabinet.current_unbilled_spend }}</td>
                                        <td>{{ cabinet.disable_reason }}</td>
                                        <td>{{ cabinet.funding_source_details }}</td>
                                        <td>{{ cabinet.fbtool_id }}</td>
                                        <td>{{ cabinet.is_prepay_account }}</td>
                                        <td>{{ cabinet.next_bill_date }}</td>
                                        <td>{{ cabinet.owner }}</td>
                                        <td>{{ cabinet.prepay_account_balance }}</td>
                                        <td>{{ cabinet.spend_cap }}</td>
                                        <td>{{ cabinet.viewable_business }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="stats-options-block">
            <a href="{% url 'adminapp:create_account' %}" class="button">Добавить аккаунт</a>
            <a href="{% url 'adminapp:create_cabinet' %}" class="button">Добавить кабинет</a>
            {% if user.is_superuser %}
                <span class="accounts-update-accounts button" {% if not last_accounts_update_finished %} style="display: none;"{% endif %}>Обновить</span>
                <img src="{% static 'img/loading.gif' %}" class="stats-update-loading accounts"{% if last_accounts_update_finished %} style="display: none;"{% endif %}>
            {% endif %}
        </div>
        {% if deleted %}
            <span class="teams-title">Удалённые аккаунты</span>
            {% for account in deleted %}
                <div class="deleted-account-block">
                    <div class="team-visible">
                        <div class="team-name-block">
                            {{ account }} - {{ account.full_name }}
                            <a href="{% url 'adminapp:delete_account' pk=account.pk %}" class="button">Восстановить</a>
                        </div>
                        <img src="{% static 'img/arrow.svg' %}" alt=">" class="team-arrow" id="arrow-{{ account.pk }}">
                    </div>
                    <div class="team-hidden" id="hidden-{{ account.pk }}">
                        <div class="team-label">Аккаунт</div>
                        <div class="team-table-wrapper">
                            <table class="team-table">
                                <tr>
                                    <th>fbtool_id</th>
                                    <th>group_id</th>
                                    <th>group_name</th>
                                    <th>is_restricted</th>
                                    <th>name</th>
                                    <th>proxy</th>
                                    <th>status</th>
                                    <th>access_token</th>
                                    <th>user_agent</th>
                                    <th>cookie</th>
                                </tr>
                                <tr>
                                    <td>{{ account.fbtool_id }}</td>
                                    <td>{{ account.group_id }}</td>
                                    <td>{{ account.group_name }}</td>
                                    <td>{{ account.is_restricted }}</td>
                                    <td>{{ account.name }}</td>
                                    <td>{{ account.proxy }}</td>
                                    <td>{{ account.status }}</td>
                                    <td>{{ account.access_token }}</td>
                                    <td>{{ account.user_agent }}</td>
                                    <td>{{ account.cookie }}</td>
                                </tr>
                            </table>
                        </div>
                        {% if account.get_cabinets %}
                            <div class="team-label">Кабинеты</div>
                            <div class="team-table-wrapper">
                                <table class="team-table">
                                    <tr>
                                        <th>ID</th>
                                        <th>Название</th>
                                        <th>Таймзона</th>
                                        <th>Валюта</th>
                                        <th>status</th>
                                        <th>adspaymentcycle</th>
                                        <th>adtrust_dsl</th>
                                        <th>amount_spent</th>
                                        <th>current_unbilled_spend</th>
                                        <th>disable_reason</th>
                                        <th>funding_source_details</th>
                                        <th>fbtool_id</th>
                                        <th>is_prepay_account</th>
                                        <th>next_bill_date</th>
                                        <th>owner</th>
                                        <th>prepay_account_balance</th>
                                        <th>spend_cap</th>
                                        <th>viewable_business</th>
                                    </tr>
                                    {% for cabinet in account.get_cabinets %}
                                        <tr>
                                            <td>{{ cabinet.pk }}</td>
                                            <td>{{ cabinet.name }}</td>
                                            <td>{{ cabinet.timezone }}</td>
                                            <td>{{ cabinet.currency }}</td>
                                            <td>{{ cabinet.status }}</td>
                                            <td>{{ cabinet.adspaymentcycle }}</td>
                                            <td>{{ cabinet.adtrust_dsl }}</td>
                                            <td>{{ cabinet.amount_spent }}</td>
                                            <td>{{ cabinet.current_unbilled_spend }}</td>
                                            <td>{{ cabinet.disable_reason }}</td>
                                            <td>{{ cabinet.funding_source_details }}</td>
                                            <td>{{ cabinet.fbtool_id }}</td>
                                            <td>{{ cabinet.is_prepay_account }}</td>
                                            <td>{{ cabinet.next_bill_date }}</td>
                                            <td>{{ cabinet.owner }}</td>
                                            <td>{{ cabinet.prepay_account_balance }}</td>
                                            <td>{{ cabinet.spend_cap }}</td>
                                            <td>{{ cabinet.viewable_business }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="teams-background">
        <div class="teams-password-background">
            <div class="teams-password-title"></div>
            <div class="stats-filters">
                <span class="accounts-update-date standart active" id='{{ today|date:"Y-m-d" }}'>Сегодня</span>
                <span class="accounts-update-date standart" id='{{ yesterday|date:"Y-m-d" }}'>Вчера</span>
                <span class="accounts-update-date" id="daterangepicker">Выбрать</span>
                <span class="accounts-update-chosen-date">{{ today|date:"Y-m-d" }}</span>
            </div>
            <div class="button accounts-update">Обновить</div>
        </div>
    </div>
{% endblock %}