{% extends 'adminapp/base.html' %}
{% load static %}
{% block content %}
<form action="{% url 'adminapp:delete_account' pk=object.pk %}" class="form-content delete-content" method="post">
    {% csrf_token %}
    <h1 class="form-title">Вы точно хотите {% if object.is_deleted %}восстановить{% else %}удалить{% endif %} аккаунт "{{ object.pk }}"?</h1>
    <div class="delete-buttons">
        <input type="submit" class="button" value="Да">
        <a href="{% url 'adminapp:accounts' %}" class="button">Нет</a>
    </div>
</form>
{% endblock %}