{% extends 'adminapp/base.html' %}
{% load static %}
{% block js %}
<script src="{% static 'js/teams.js' %}"></script>
<script src="{% static 'js/change_password.js' %}"></script>
{% endblock %}
{% block content %}
    {% csrf_token %}
    <div class="stats-content">
        {% for team in object_list %}
            <div class="team-block">
                <div class="team-visible">
                    <div class="team-name-block">
                        {{ team.name }}
                        {% if not user.support_id %}
                            <a href="{% url 'adminapp:edit_team' pk=team.pk %}" class="button">Изменить</a>
                            <a href="{% url 'adminapp:delete_team' pk=team.pk %}" class="button">Удалить</a> 
                        {% endif %}
                    </div>
                    <img src="{% static 'img/arrow.svg' %}" alt=">" class="team-arrow" id="arrow-{{ team.pk }}">
                </div>
                <div class="team-hidden" id="hidden-{{ team.pk }}">
                    {% if team.get_users %}
                        <table class="team-table">
                            <tr>
                                <th>ID</th>
                                <th>Имя</th>
                                <th>Лид</th>
                                {% if not user.support_id %}
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                {% endif %}
                            </tr>
                            {% for buyer in team.get_users %}
                                <tr>
                                    <td>{{ buyer.buyer_id }}</td>
                                    <td>{{ buyer.first_name }}</td>
                                    <td><div class="team-lead{% if buyer.lead %} active{% endif %}"></div></td>
                                    {% if not user.support_id %}
                                        <td class="teams-change-password button" id="password-{{ buyer.pk }}">Сменить пароль</td>
                                        <td class="teams-td-button"><a href="{% url 'adminapp:edit_user' pk=buyer.pk %}">Изменить</a></td>
                                        <td class="teams-td-button"><a href="{% url 'adminapp:delete_user' pk=buyer.pk %}">Удалить</a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% if teamless %}
            <span class="teams-title">Баеры без команды</span>
            <table class="team-table">
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Лид</th>
                    {% if not user.support_id %}
                        <th></th>
                        <th></th>
                        <th></th>
                    {% endif %}
                </tr>
                {% for buyer in teamless %}
                    <tr>
                        <td>{{ buyer.buyer_id }}</td>
                        <td>{{ buyer.first_name }}</td>
                        <td><div class="team-lead{% if buyer.lead %} active{% endif %}"></div></td>
                        {% if not user.support_id %}
                            <td class="teams-change-password button" id="password-{{ buyer.pk }}">Сменить пароль</td>
                            <td class="teams-td-button"><a href="{% url 'adminapp:edit_user' pk=buyer.pk %}">Изменить</a></td>
                            <td class="teams-td-button"><a href="{% url 'adminapp:delete_user' pk=buyer.pk %}">Удалить</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if not user.support_id %}
            {% if supports %}
                <span class="teams-title">Саппорты</span>
                <table class="team-table">
                    <tr>
                        <th>ID</th>
                        <th>Имя</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for support in supports %}
                        <tr>
                            <td>{{ support.support_id }}</td>
                            <td>{{ support.first_name }}</td>
                            <td class="teams-change-password button" id="password-{{ support.pk }}">Сменить пароль</td>
                            <td class="teams-td-button"><a href="{% url 'adminapp:edit_support' pk=support.pk %}">Изменить</a></td>
                            <td class="teams-td-button"><a href="{% url 'adminapp:delete_user' pk=support.pk %}">Удалить</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            <div class="stats-options-block">
                <a href="{% url 'adminapp:create_team' %}" class="button">Создать команду</a>
                <a href="{% url 'adminapp:create_user' %}" class="button">Добавить баера</a>
                <a href="{% url 'adminapp:create_support' %}" class="button">Добавить саппорта</a>
            </div>
        {% endif %}
    </div>
{% endblock %}